html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
*{box-sizing: border-box;}

@font-face {
    font-family: 'Bitter';
    src: url('static/fonts/Bitter-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
}


body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: black;
	background-color: rgba(230, 230, 230, 1);
	font-family: 'Bitter';
}

.logoImg {
	float: left;
	border-radius: 50px;
}

.container {
	width: 100vw;
	text-align: center;
	box-sizing: border-box;
}


.mainTitleContainer {
	width: 100vw;
	text-align: center;
	margin-bottom: 25px;
}


.mainTitle {
	box-sizing: border-box;
	color: white;
	background: black;
	padding-top: 14px;
	height: 50px;
	border-radius: 0 0 50px 50px;
}


.inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.img {
	width: 120px;
	height: 177px;
}

.item {
	text-align: left;
	margin-right: 20px;
	margin-bottom: 30px;
}

.btns {
	display: inline-flex;
}

.btn {
	padding: 7px 0px;
	border: none;
	background: black;
	border-radius: 0%;
	color: white;
	width: 30px;
	
	transition: background .2s linear;
}

.goodTitle {
	font-size: 28px;
}

.goodCol {
	color: rgba(130, 130, 130, 1);
	margin-bottom: 3px;
}

.goodCost {
	font-size: 22px;
	margin-bottom: 3px;
}

.btn:first-child {
	border-radius: 100% 0 0 100%;
}

.btn:last-child {
	border-radius: 0 100% 100% 0;
}

.btn:hover {
	background: grey;
}








